<div class="navigation-wrapper">
	<div class="site-name"><div style="margin-top:-28px; margin-bottom:-62px; float:left">
	<a href="{{ site.url }}"><img src="{{ site.url }}/images/logo.jpg" height="54px"></a></div>
	<!--	<a href="{{ site.url }}"><img src="/images/logo.jpg" width="80px"> FGGC Osha Alumni USA/Canada</a> -->
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div>
</div><!-- /.navigation-wrapper -->