<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
  <div>
  <iframe src="https://docs.google.com/forms/d/1TYzcvzzAS5EP6TpK9YKKQVIkDnyN7WRP0U6FJTHx_9M/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
  <div>
  <iframe src="https://docs.google.com/forms/d/1aGEGVv6uhZ7FcwdO2hVmDcj1ZMQNWkerX_BJb_9m7rI/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</article>
</div><!-- /#main -->

<div class="footer-wrap"> 
 {% for pc in page.categories %}
   {% if pc == "reunion2016" %}
  <div class="related-articles">
  <h4>Check out related posts on the 2016 Reunion </h4>
    <ul>
	{% for post in site.categories.reunion2016 %}
	    {% if page.title != post.title %}   
       <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
         {% endif %}
    {% endfor %}
    </ul>
    <hr />
  </div> 
  {% endif %}
  {% endfor %}
<!--
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
    <ul>

    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div> /.related-articles -->
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap 
-->

{% include _scripts.html %}	        

</body>
</html>